@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Light.woff') format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal