<header class="header">
    <svg class="svg logo_chi">
        <use xlink:href="img/sprite/sprite.svg#logo_chi"></use>
    </svg>
    <svg class="svg icon_insta">
        <use xlink:href="img/sprite/sprite.svg#icon_insta"></use>
    </svg>
    <h1 class="header__title">My multi-page header</h1>
</header>