.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_insta {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.logo_chi {
  font-size:(214.5/10)*1rem;
  width:(248/214.5)*1em;
}
